html {
  --main-color: #f9f9f9;
  --secondary-color: #fcfcfc;
  --primary-text-color: #333333;
  --secondary-text-color: #666666;
  --completed-text-color: #999999;
  --border-color: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;

  padding: 5%;
  background-color: var(--main-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 800px;
  min-width: 450px;
  /* background-color: #6d2c2c; */
}
