.todo-item-Buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-buttons,
.bottom-buttons {
  display: flex;
}

.todo-item:first-child .move-up-button,
.todo-item:last-child .move-down-button {
  color: var(--completed-background-color);
}

.todo-item:first-child .move-up-button:hover,
.todo-item:last-child .move-down-button:hover {
  cursor: default;
}
